[submodule "Home-Assistant-git-exporter-Addon"]
	path = .sources/git-exporter
	url = https://github.com/seb5594/Home-Assistant-git-exporter-Addon.git
[submodule "Home-Assistant-Rsync-Local-Addon"]
	path = .sources/Rsync-Local
	url = https://github.com/seb5594/Home-Assistant-Rsync-Local-Addon.git
