[submodule "Home-Assistant-git-exporter-Addon"]
	path = git-exporter
	url = https://github.com/seb5594/Home-Assistant-git-exporter-Addon.git
[submodule "Home-Assistant-Rsync-Local-Addon"]
	path = Rsync-Local
	url = https://github.com/seb5594/Home-Assistant-Rsync-Local-Addon.git
